.chip-crd {
  position: relative;

  .chip-body {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0,0,0,0.5);

    width: 100%;
    padding: 20px;
    height: 200px;

    .chip-title {
      position: relative;
      z-index: 5;
      font-weight: bold;
      color: rgba(0,0,0,1);
      text-align: left;
    }
    .chip-content { }
    .chip-back {
      position: absolute;
      top:0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      .chip-mask {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        // default color
        background: rgba(230,230,230,1);
        opacity: 0.3;
        transition: 0.5s all ease;
      }
      .chip-icon {
        font-size: 7rem;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }
  }
  &:hover { .chip-mask { opacity: 0.7 !important; }}
  &.default {
    .chip-mask { background: linear-gradient(171deg, rgba(240,93,93,1) 0%, rgba(240,93,93,1) 11%, @theme-purple 50%, @theme-purple 100%) !important; }
  }
  &.settings {
    .chip-mask { background: rgba(200,200,200,1) !important; }
  }
  &.weather {
    .chip-mask { background: linear-gradient(141deg, rgba(15,184,173,1) 0%, rgba(31,200,219,1) 51%, rgba(44,181,232,1) 75%) !important; }
  }
}
