.home-container {
  .home-title {
    display: block;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(34,34,34,1);
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .chip-container {
    chip {
      .chip-container {
        display: inline-block;
        float: left;
        position: relative;
        &.crd1 {
          width: 20%;
          @media @mobile-screen { width: 50%; }
        }
        &.crd2 {
          width: 40%;
          @media @mobile-screen { width: 50%; }
        }
        &.crd3 {
          width: 60%;
          @media @mobile-screen { width: 100%; }
        }
        &.crd4 {
          width: 80%;
          @media @mobile-screen { width: 100%; }
        }
        &.crd5 {
          width: 100%;
        }
        .chip-template {
          position: relative;
        }
      }
    }
  }
}
