<div class="nav-section">
  <div class="nav-display">
    <div class="display-header jThemeFont">Jaden</div>
    <div class="display-content">Welcome <span class="jThemeFont">{{ hc.username }}</span> to the Jaden Personal Assistant system.  You will find the home page open with all of your chips below, feel free to ask me anything just remember I am still learning so bear with me.</div>
    <div class="display-welcome">{{ hc.welcome }}</div>
  </div>

  <div class="nav-container" nav-hold>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="nav-header notifications"><i class="fa fa-circle-o-notch"></i></div>
        <div class="nav-header namebrand"><div class="brand jThemeFont" ui-sref="app">Jaden</div></div>
        <div class="nav-header talk jThemeBack"><i class="fa fa-microphone"></i></div>
      </div>
    </nav>
  </div>
</div>
